<img src="../assets/images/sector2_image/companywe_sector2_img1_1.png"
     style="position: absolute;width: 744px;height: 2160px;z-index: 20;"/>

<div class="sector2-nav1">
<img src="../assets/images/sector2_image/energyicon_demand.gif" class="energyicon-gif" loof="infinite" ng-click="state2_5.back()" />
  <div class="absolute bfffff pt24" style="left: 97px;top: 276px;">R5
    <span class="c-86bfbf pt38">ColdChain <!--source--></span>
  </div>

  <div class="absolute pt50 ff7e47" style="left: 340px;top: 112px;">COLD-CHAIN</div>
  <!--<div class="absolute pt70 fffef2" style="left: 400px;top: 97px;">대기중</div>-->
  <!--<div class="absolute pt70 c-7ca6a6" style="left: 400px;top: 97px;">offline</div>-->

  <div class="absolute pt20 bfffff" style="left: 408px;top: 225px;">Chain Data / Total IoT</div>
  <!--<div class="absolute pt36 fffef2" ng-style="state2_5.leftData.nega_watt >= 1000000 && {'font-size' : '28px'} || state2_5.leftData.nega_watt >= 100000 && {'font-size' : '35px'}" style="width:300px; text-align:center; left: 365px;top: 233px;">78,871 / 79,233</div>-->
  <div class="absolute pt36 fffef2" style="width:300px; text-align:center; left: 365px;top: 249px;">78,871 / 79,233</div>
  <div class="absolute pt24 bfffff" style="left: 388px;top: 296px;">{{state2_5.nowDateTime}}</div>
  <!--<div class="absolute pt26 bfffff" style="left: 388px;top: 292px;">{{vm.currentCompanyResources.cont_start_date.substring(0, 19)}}</div>-->

  <div class="state2-btn-inactive" style="left: 370px;top: 355px;">관리자 정보</div>
  <div class="state2-btn-active" style="left: 522px;top: 355px;">출력</div>

  <div class="bfffff pt26 absolute" style="left: 90px;top: 471px;">ColdChain Node Info</div>
  <div class="bfffff pt20 absolute" style="left: 90px;top: 530px;">Block Number</div>
  <div class="bfffff pt20 absolute" style="left: 90px;top: 565px;">Mining</div>

  <div class="bfffff pt20 absolute" style="left: 300px;top: 530px;">7,334</div>
  <div class="bfffff pt20 absolute" style="left: 280px;top: 565px;">25s ago</div>

  <div class="bfffff pt26 absolute" style="left: 90px;top: 663px;">Cryptocurrency Market Info</div>

  <div class="bfffff pt20 absolute" style="left: 136px;top: 721px;letter-spacing: 1px;font-weight:100;">MARKET PRICE(ETH)</div>
  <div class="bfffff pt20 absolute" style="left: 136px;top: 754px;">US$155,803</div>

  <div class="bfffff pt20 absolute" style="left: 443px;top: 721px;letter-spacing: 1px;font-weight:100;">MARKET PRICE(BTC)</div>
  <div class="bfffff pt20 absolute" style="left: 443px;top: 754px;">0.03682909B</div>

  <div class="bfffff pt28 absolute" style="left: 100px;top: 1098px;">TOTAL<br/> STATUS</div>
  <div class="bfffff pt28 absolute" style="left: 100px;top: 1312px;">TRANSACTION<br/> INFO</div>
  <div class="bfffff pt26 absolute" style="left: 100px;top: 1478px;">COMMUNICATION<br/> ZONE</div>

  <div class="pt24 ff7e47 absolute" style="left: 250px;top: 1061px;">주의</div>
  <div class="pt24 fffef2 absolute" style="left: 250px;top: 1121px;">정상</div>
  <div class="pt24 c-7ca6a6 absolute" style="left: 250px;top: 1181px;">Total</div>

  <div class="pt31 ff7e47 absolute" style="left: 575px;top: 1056px;">0</div>
  <div class="pt31 fffef2 absolute" style="left: 575px;top: 1116px;">364</div>
  <div class="pt31 c-7ca6a6 absolute" style="left: 575px;top: 1176px;">364</div>

  <div class="absolute pt18 c-7ca6a6" style="left: 383px;top: 1302px;">Sell</div>
  <div class="absolute pt18 c-7ca6a6" style="left: 383px;top: 1335px;">Buying</div>
  <div class="absolute pt18 c-7ca6a6" style="left: 383px;top: 1370px;">Contract</div>

  <div class="absolute pt18 bfffff" style="left: 489px;top: 1302px;">114</div>
  <div class="absolute pt18 bfffff" style="left: 489px;top: 1335px;">114</div>
  <div class="absolute pt18 bfffff" style="left: 489px;top: 1370px;">114</div>

  <div class="absolute pt18 bfffff" style="left: 382px;top: 1486px;">수도권</div>
  <div class="absolute pt18 c-7ca6a6" style="left: 382px;top: 1517px;">수원시 영통구</div>
  <img src="../assets/images/sector2_image/in_icon.png" style="position: absolute;left: 560px;top: 1479px;"/>

  <div class="absolute state2-btn-active pt24" style="left: 100px;top: 1661px;width: 190px;">통신상태 : 정상</div>
  <div class="absolute pt28 bfffff" style="left: 344px;top: 1659px;">VTN IP: 61.39.74.123</div>

  <div class="absolute pt28 c-7ca6a6" style="left: 96px;top: 1743px;text-align: center;">
    COMMAND<br/>
    <span class="bfffff">소고기 기준온도 확인</span>
  </div>

  <div class="absolute pt28 bfffff" style="left: 415px;top: 1743px;"><!--generation -->카테고리별 콜드지수</div>
  <div id="chartbar2" style="left:395px;top:1776px;position: absolute;"></div>

  <div class="absolute pt38" style="color: #597c80;left: 243px;top: 1892px;">OFF <br/>GRID</div>
  <div class="absolute pt38 ff7e47" style="left: 560px;top: 1892px;">ON <br/>GRID</div>

</div>
