<img src="../assets/images/sector2_image/companywe_sector2_img1.png"
     style="position: absolute;width: 744px;height: 2160px;z-index: 20;"/>

<div class="sector2-nav1">
  <img src="../assets/images/sector2_image/energyicon_demand.gif" class="energyicon-gif" loof="infinite" ng-click="vm.back()"/>
  <div class="absolute bfffff pt24" style="left: 123px;top: 276px;">R3
    <span class="c-86bfbf pt38">ESS</span>
  </div>

  <div class="absolute pt50 ff7e47" style="left: 340px;top: 112px;">{{vm.solarDemandData.generator > 0 ? 'DISCHARGING' : 'GENERATION'}}</div>
  <!--<div class="absolute pt70 fffef2" style="left: 400px;top: 97px;">대기중</div>-->
  <!--<div class="absolute pt70 c-7ca6a6" style="left: 400px;top: 97px;">offline</div>-->

  <div class="absolute pt44 fffef2" style="left: 428px;top: 233px;">{{vm.currentGenerator|number:1}} kW</div>
  <div class="absolute pt26 bfffff" style="left: 388px;top: 292px;">{{vm.nowDateTime}}</div>
  <!--<div class="absolute pt26 bfffff" style="left: 388px;top: 292px;">{{vm.currentCompanyResources.cont_start_date.substring(0, 19)}}</div>-->

  <div class="state2-btn-inactive" style="left: 370px;top: 355px;">Admin Info</div>
  <div class="state2-btn-active" style="left: 522px;top: 355px;">output</div>

  <div id="chartbar1"></div>
  <div class="absolute bfffff pt12" style="left: 107px;top: 550px;">
    <ul ng-repeat="t in vm.currentXtime8Mini" style="float: left;width: 37px;margin-top: 10px;
     -ms-transform: rotate(90deg); /* IE 9 */
     -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);">
      <li>{{t}}</li>
    </ul>
  </div>

  <div class="absolute pt21" style="left: 95px;top: 746px;text-align: center; font-size:22px;">
    <span class="state2-btn-active"><!--urgent -->instruction</span>
    <!--여기부터-->
    <span class="absolute" style="width:180px;left: 160px;">{{vm.emergencyStartime}} ~ {{vm.emargencyEndtime}}</span>
    <!--<span class="absolute" style="width: 180px;left: 190px;">16:00 ~ 17:00</span>-->
    <span class="absolute" style="width:250px;left: 330px;">{{vm.solarDemandData.event.goal|number:1}} kW<!-- (imitation)--></span>
  </div>

  <div class="absolute bfffff pt18" style="left:110px;top:840px;">{{vm.emergencyStartDate}}
    <span style="margin-left: 10px;">{{vm.emergencyStartime}} ~ {{vm.emargencyEndtime}}</span>
  </div>

  <div class="ff7e47 pt10" style="position: absolute;top: 883px;" ng-style="{left:vm.generator*1.8 + 95 || 116}">current battery output (discharge)</div>
  <img src="../assets/images/sector2_image/reduction.png" style="top: 900px;position: absolute;" ng-style="vm.generator*1.8 + 116 > 296 && {left:297} || {left:vm.generator*1.8 + 116 || 116}" />

  <!--all: 180px-->
  <div style="background-color: #86bfbf;height: 7px;left:124px;top: 916px;position: absolute;max-width: 180px;"
       ng-style="{width: vm.rest_meter_acc_mw/ vm.meter_acc_mw*180}"></div>
  <div style="background-color: #fffbcc;height: 7px;top: 916px;position: absolute;"
       ng-style="{width: 180 - (vm.rest_meter_acc_mw/ vm.meter_acc_mw*180), left:124 + (vm.rest_meter_acc_mw/ vm.meter_acc_mw*180)}"></div>

  <div class="absolute pt10 c-86bfbf" style="left: 138px;top: 927px;">hold</div>
  <div class="absolute pt10 fffbcc" style="left: 260px;top: 927px;">charge</div>

  <div class="pt18 bfffff absolute" style="left: 100px;top: 950px;">ESS output(discharge) <span class="pt18">%</span></div>

  <table class="pt18 bfffff absolute state2-table" style="left: 375px;top: 850px;">
    <tr>
      <td>hold</td>
      <td >{{vm.holding_acc_mw|number:1}}</td>
    </tr>
    <tr>
      <td>charge</td>
      <td>{{vm.meter_acc_mw|number:1}}</td>
    </tr>
    <tr>
      <td>charge</td>
      <td></td>
    </tr>
    <tr>
      <td>discharge</td>
      <td></td>
    </tr>
  </table>

  <div class="bfffff pt28 absolute" style="left: 100px;top: 1072px;">PLANT<br/> STATUS</div>
  <div class="bfffff pt28 absolute" style="left: 100px;top: 1270px;">RESOURCE<br/> POOL</div>
  <div class="bfffff pt26 absolute" style="left: 100px;top: 1437px;">COMMUNICATION<br/> ZONE</div>

  <div class="pt24 ff7e47 absolute" style="left: 250px;top: 1035px;">generation</div>
  <div class="pt24 fffef2 absolute" style="left: 250px;top: 1095px;">discharging</div>
  <div class="pt24 c-7ca6a6 absolute" style="left: 250px;top: 1155px;">maintenance</div>

  <div class="pt31 ff7e47 absolute" style="left: 575px;top: 1030px;">{{vm.m_ing_cnt}}</div>
  <div class="pt31 fffef2 absolute" style="left: 575px;top: 1090px;">{{vm.g_ing_cnt}}</div>
  <div class="pt31 c-7ca6a6 absolute" style="left: 575px;top: 1150px;">{{vm.mtnc}}</div>

  <div class="absolute pt18 c-7ca6a6" style="left: 373px;top: 1267px;">F-DR</div>
  <div class="absolute pt18 c-7ca6a6" style="left: 373px;top: 1300px;">DR</div>
  <div class="absolute pt18 c-7ca6a6" style="left: 373px;top: 1329px;">S-DR</div>

  <div class="absolute pt18 bfffff" style="left: 438px;top: 1267px;">0 kW</div>
  <div class="absolute pt18 bfffff" style="left: 438px;top: 1300px;">{{vm.solarDemandData.event.goal|number:1}} kW</div>
  <div class="absolute pt18 bfffff" style="left: 438px;top: 1329px;">0 kW</div>

  <div class="absolute pt18 bfffff" style="left: 372px;top: 1446px;">metropolitan area</div>
  <div class="absolute pt18 c-7ca6a6" style="left: 372px;top: 1478px;">California</div>
  <img src="../assets/images/sector2_image/in_icon.png" style="position: absolute;left: 560px;top: 1433px;"/>

  <div class="absolute state2-btn-active pt24" style="left: 100px;top: 1646px;width: 190px;">status : on</div>
  <div class="absolute pt28 bfffff" style="left: 344px;top: 1644px;">VTN IP: 61.39.74.123</div>

  <div class="absolute pt28 c-7ca6a6" style="left: 133px;top: 1733px;text-align: center;">
    COMMAND<br/>
    <span class="bfffff">waiting until 14</span>
  </div>

  <div class="absolute pt28 bfffff" style="left: 457px;top: 1733px;"><!--generation -->scheduling</div>
  <div id="chartbar2" style="left:395px;top:1776px;position: absolute;"></div>

  <div class="absolute pt38" style="color: #597c80;left: 243px;top: 1892px;">OFF <br/>GRID</div>
  <div class="absolute pt38 ff7e47" style="left: 560px;top: 1892px;">ON <br/>GRID</div>

</div>
