<img src="../assets/images/sector2_image/companywe_sector2_img1.png"
     style="position: absolute;width: 744px;height: 2160px;z-index: 20;"/>

<div class="sector2-nav1">
  <img src="../assets/images/sector2_image/energyicon_demand.gif" class="energyicon-gif" loof="infinite" />
  <div class="absolute bfffff pt24" style="left: 123px;top: 276px;">R2
    <span class="c-86bfbf pt38">Solar</span>
  </div>

  <div class="absolute pt70 ff7e47" style="left: 400px;top: 97px;">발전중</div>
  <!--<div class="absolute pt70 fffef2" style="left: 400px;top: 97px;">대기중</div>-->
  <!--<div class="absolute pt70 c-7ca6a6" style="left: 400px;top: 97px;">offline</div>-->

  <div class="absolute pt44 fffef2" style="left: 428px;top: 233px;">{{vm.currentCompanyNegawattSum}} kW</div>
  <div class="absolute pt26 bfffff" style="left: 388px;top: 292px;">{{vm.nowDateTime}}</div>
  <!--<div class="absolute pt26 bfffff" style="left: 388px;top: 292px;">{{vm.currentCompanyResources.cont_start_date.substring(0, 19)}}</div>-->

  <img src="../assets/images/sector2_image/administrator.png"
       style="position: absolute;left: 88px;top: 350px;width: 247px;height: 247px;" />

  <div class="state2-btn-inactive" style="left: 370px;top: 355px;">관리자정보</div>
  <div class="state2-btn-active" style="left: 522px;top: 355px;">출력</div>

  <div id="chartbar1"></div>
  <div class="absolute bfffff pt12" style="left: 383px;top: 548px;">
    <ul ng-repeat="t in vm.currentXtime" style="float: left;width: 37px;margin-top: 10px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);">
      <li>{{t}}</li>
    </ul>
  </div>

  <div class="absolute pt26" style="left: 95px;top: 743px;text-align: center;">
    <span class="state2-btn-active">급전지시</span>
    <!--여기부터-->
    <span class="absolute" style="width: 180px;left: 190px;">{{vm.emergencyStartime}} ~ {{vm.emargencyEndtime}}</span>
    <!--<span class="absolute" style="width: 180px;left: 190px;">16:00 ~ 17:00</span>-->
    <span class="absolute" style="width:180px;left: 370px;">{{vm.currentCompanyResources.cont_watt}} kWh</span>
  </div>

  <div class="absolute bfffff pt18" style="left:110px;top:840px;">{{vm.emergencyStartDate}}
    <span style="margin-left: 10px;">{{vm.emergencyStartime}} ~ {{vm.emargencyEndtime}}</span>
  </div>

  <div class="ff7e47 pt10" style="position: absolute;top: 883px;" ng-style="{left:vm.currentWatt*1.8 + 95}">현재 발전출력</div>
  <img src="../assets/images/sector2_image/reduction.png" style="top: 900px;position: absolute;" ng-style="{left:vm.currentWatt*1.8 + 116}" />

  <!--all: 180px-->
  <div style="background-color: #86bfbf;height: 7px;left:124px;top: 916px;position: absolute;max-width: 180px;"
       ng-style="{width: vm.maxAvailable}"></div>
  <div style="background-color: #fffbcc;height: 7px;top: 916px;position: absolute;"
       ng-style="{width: 180 - (vm.maxAvailable), left:124 + (vm.maxAvailable)}"></div>

  <div class="absolute pt10 c-86bfbf" style="left: 138px;top: 927px;">현재 최대 발전가능출력</div>
  <div class="absolute pt10 fffbcc" style="left: 260px;top: 927px;">발전용량</div>

  <div class="pt24 bfffff absolute" style="left: 148px;top: 950px;">태양광발전율 <span class="pt18">%</span></div>

  <table class="pt18 bfffff absolute state2-table" style="left: 383px;top: 850px;">
    <tr>
      <td>목표</td>
      <td>{{vm.solarDemandData.goal|number:0}}</td>
    </tr>
    <tr>
      <td>예측</td>
      <td>{{vm.solarDemandData.prdt|number:0}}</td>
    </tr>
    <tr>
      <td>발전</td>
      <td>{{vm.solarDemandData.nega_watt|number:0}}</td>
    </tr>
    <tr>
      <td>송전</td>
      <td>{{vm.solarDemandData.trms|number:0}}</td>
    </tr>
  </table>

  <div class="bfffff pt28 absolute" style="left: 100px;top: 1072px;">PLANT<br/> STATUS</div>
  <div class="bfffff pt28 absolute" style="left: 100px;top: 1270px;">RESOURCE<br/> POOL</div>
  <div class="bfffff pt26 absolute" style="left: 100px;top: 1437px;">COMMUNICATION<br/> ZONE</div>

  <div class="pt24 ff7e47 absolute" style="left: 300px;top: 1035px;">발전중</div>
  <div class="pt24 fffef2 absolute" style="left: 300px;top: 1095px;">대기</div>
  <div class="pt24 c-7ca6a6 absolute" style="left: 300px;top: 1155px;">유지보수</div>

  <div class="pt31 ff7e47 absolute" style="left: 575px;top: 1030px;">{{vm.solarDemandData.ing_cnt}}</div>
  <div class="pt31 fffef2 absolute" style="left: 575px;top: 1090px;">{{vm.solarDemandData.sb_cnt}}</div>
  <div class="pt31 c-7ca6a6 absolute" style="left: 575px;top: 1150px;">{{vm.solarDemandData.mtnc_cnt}}</div>

  <div class="absolute pt18 c-7ca6a6" style="left: 373px;top: 1267px;">F-DR</div>
  <div class="absolute pt18 c-7ca6a6" style="left: 373px;top: 1300px;">DR</div>
  <div class="absolute pt18 c-7ca6a6" style="left: 373px;top: 1329px;">S-DR</div>

  <div class="absolute pt18 bfffff" style="left: 438px;top: 1267px;">0 kW</div>
  <div class="absolute pt18 bfffff" style="left: 438px;top: 1300px;">{{vm.currentCompanyResources.cont_watt}} kW</div>
  <div class="absolute pt18 bfffff" style="left: 438px;top: 1329px;">0 kW</div>

  <div class="absolute pt18 bfffff" style="left: 372px;top: 1446px;">수도권</div>
  <div class="absolute pt18 c-7ca6a6" style="left: 372px;top: 1478px;">{{vm.currentCompanyResources.c_zone}}</div>
  <img src="../assets/images/sector2_image/in_icon.png" style="position: absolute;left: 560px;top: 1433px;"/>

  <div class="absolute state2-btn-active pt24" style="left: 100px;top: 1646px;width: 190px;">통신상태 : 정상</div>
  <div class="absolute pt28 bfffff" style="left: 344px;top: 1644px;">VTN IP: 61.29.74.123</div>

  <div class="absolute pt28 c-7ca6a6" style="left: 133px;top: 1733px;text-align: center;">
    COMMAND<br/>
    <span class="bfffff">14시까지 대기</span>
  </div>

  <div class="absolute pt28 bfffff" style="left: 457px;top: 1733px;">오늘 발전 계획</div>
  <div id="chartbar2" style="left:395px;top:1776px;position: absolute;"></div>

  <div class="absolute pt38" style="color: #597c80;left: 243px;top: 1892px;">OFF <br/>GRID</div>
  <div class="absolute pt38 ff7e47" style="left: 560px;top: 1892px;">ON <br/>GRID</div>

</div>
