<div class="sector2-1-img"></div>


<img src="../assets/images/sector2_image/companywe_sector2_img2.png"
     style="position: absolute;left: 742px;z-index: 30;"/>


<!--current="state2_2.currentCompanyResources.dem_negawatt"-->
<round-progress
  max="400"
  current="state2_2.gageCurrentDevelop"
  color="#80ffff"
  bgcolor="#edfbff"
  radius="230"
  stroke="50"
  rounded="true"
  clockwise="true"
  responsive="false"
  duration="4000"
  animation="easeInOutQuart"
  animation-delay="0"
  style="top: 755px;left: 1336px;width: 470px;height: 470px;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);"></round-progress>

<div class="absolute" style="z-index: 40;">
  <!--title-->
  <div class="absolute pt42 bfffff" style="left: 954px;top: 80px;width: 260px;">
    NVPP <span class="c-7ca6a6" style="font-weight: 200;">VISION</span>
  </div>

  <div class="absolute pt42 bfffff" style="left: 2040px;top: 80px;width: 260px;">ROOT</div>
  <div class="absolute pt42 bfffff resource-dropdown" style="left: 2317px;top: 80px;width: 416px;">
    <span uib-dropdown on-toggle="toggled(open)">
      <a href id="simple-dropdown" uib-dropdown-toggle style="color: #bfffff;">
        MicroNOC
      </a>
      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
        <li ng-repeat="resource in state2_2.companiesResources">
          <a href>{{resource.res_name}}</a>
        </li>
      </ul>
    </span>
  </div>

  <!--<div class="state2-btn-dr" style="left: 2994px;top: 90px;">Fast DR</div>-->
  <!--<div class="state2-btn-dr" style="left: 3138px;top: 90px;">DR</div>-->
  <!--<div class="state2-btn-dr" style="left: 3280px;top: 90px;">Slow DR</div>-->


  <!--section-->
  <div class="sector2-map">
    <div class="absolute" style="left: 288px;top: 453px;width: 148px;text-align: center;">
      <span class="pt20 bfffff">{{state2_2.generator > 0 ? 'discharging' : 'generation'}} (ESS)</span><br/>
      <span
        class="pt60 fffef2">{{state2_2.generator|number:0}}</span>
      <span class="pt24 fffef2"> kW</span><br/>
      <span class="pt20 c-7ca6a6">+ 450 kW</span>
    </div>

    <div class="absolute" style="left: 369px;top: 703px;width: 132px;">
      <span class="pt16 c-80ffff" style="margin-bottom: 6px;display: inline-block;">POWER OUTPUT</span><br/>
      <!--<span class="watt-off">Megawatt Mode</span><br/>-->
      <span class="watt-on">charge mode</span>
    </div>

    <img src="../assets/images/sector2_image/high_line.png" style="position: absolute;left: 454px;top: 522px;" ng-show="state2_2.gageCurrentDevelop == 270" />
    <img src="../assets/images/sector2_image/highcost.png"  style="position: absolute;left: 508px;top: 522px;"  ng-show="state2_2.gageCurrentDevelop == 270" />

    <div class="absolute" style="left: 618px;top: 684px;width: 200px;">
      <span class="pt20 bfffff">MAX(max transmission power)</span><br/>
      <span class="pt60 fffef2">{{state2_2.max_limit|number:0}}</span><span class="pt24 fffef2">kW</span>
    </div>

    <!--수용가 list repeat-->
    <div class="absolute pt31 bfffff" style="left: 52px;top: 910px;width: 555px;">ESS CHARGE STATUS</div>
    <div class="absolute" style="left: 52px;top: 1015px;width: 500px;height: 1037px;overflow-y: hidden;">
      <!--todo:: call value, current temp value-->
      <div class="absolute pt24 c-7ca6a6" style="width: 170px;line-height: 55px;">
        <!-- Tim. 로딩중 이미지 추가 -->
        <img src="../assets/images/loading_img.gif" ng-show="( !state2_2.resourcesConsumers || state2_2.resourcesConsumers.length == 0 ) && !state2_2.error" style="width:150px; height:150px; position: absolute;top: 130px;left: 175px;"/>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="500px" height="1037px" viewBox="-38 23 100 100" enable-background="new -38 20 100 100" xml:space="preserve" ng-show="state2_2.error">
        <path fill="#FFFFFF" d="M16.142,2L22,7.858v8.284L16.142,22H7.858L2,16.142V7.858L7.858,2H16.142z M16.971,0H7.029L0,7.029v9.941
          L7.029,24h9.941L24,16.971V7.029C24,7.029,16.971,0,16.971,0z M11,6h2v8h-2V6z M12,18.25c-0.69,0-1.25-0.56-1.25-1.25
          s0.56-1.25,1.25-1.25s1.25,0.56,1.25,1.25S12.69,18.25,12,18.25z"/>
        </svg>
        <ul ng-repeat="con in state2_2.resourcesConsumers|limitTo:6:state2_2.consumerBeginNumber">
          <li style="overflow: hidden;
    height: 55px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;">{{con.sgname}}
          </li>
        </ul>
      </div>
      <div class="absolute pt24 c-7ca6a6" style="left: 173px;top: 7px;width: 320px;height: 30px;line-height: 55px;">
        <div ng-repeat="con in state2_2.resourcesConsumers|limitTo:6:state2_2.consumerBeginNumber" style="">

          <div
            style="float: left;background-color: #ff0000;height: 30px;margin-bottom: 25px;width: 10px;border-right: 1px solid #ff0000;"
            ng-show="con.operateRatio < -1"></div>
          <div
            style="float: left;background-color: #2e3c40;height: 30px;margin-bottom: 25px;width: 10px;border-right: 1px solid #ff0000;"
            ng-show="con.operateRatio >= -1"></div>

          <div style="float: left;background-color: #bfffff;height: 30px;margin-bottom: 25px;max-width: 310px;"
               ng-style="{width: con.socAvg*310/100}"></div>
          <div style="margin-left:10px;background-color: #2e3c40;height: 30px;margin-bottom: 25px;width: 310px;"></div>
        </div>
      </div>
    </div>

    <div id="resource-graph" class="state2-graph" style="top: 290px;left: 987px;width:1650px;height:520px;"></div>

    <section style="width: 2090px;height: 1225px;position: absolute;top: 903px;left: 600px;overflow: hidden;">
      <!-- Tim. 로딩중 이미지 추가 -->
      <img src="../assets/images/loading_img.gif" ng-show="( !state2_2.resourcesConsumers || state2_2.resourcesConsumers.length == 0 ) && !state2_2.error" style="width:300px; height:300px; position: absolute;top: 322.5px;left: 895px;"/>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="2090px" height="1225px" viewBox="-38 -28 100 100" enable-background="new -38 -28 100 100" xml:space="preserve" ng-show="state2_2.error">
        <path fill="#FFFFFF" d="M16.142,2L22,7.858v8.284L16.142,22H7.858L2,16.142V7.858L7.858,2H16.142z M16.971,0H7.029L0,7.029v9.941
          L7.029,24h9.941L24,16.971V7.029C24,7.029,16.971,0,16.971,0z M11,6h2v8h-2V6z M12,18.25c-0.69,0-1.25-0.56-1.25-1.25
          s0.56-1.25,1.25-1.25s1.25,0.56,1.25,1.25S12.69,18.25,12,18.25z"/>
      </svg>
      <!--each-->
      <div class="bfffff graph-section-each"
           ng-repeat="con in state2_2.resourcesConsumers|limitTo:6:state2_2.consumerBeginNumber">
        <div class="pt28" style="border-bottom: 1px solid #bfffff;padding-bottom: 4px;">{{con.sgname}}</div>
        <div class="absolute pt24" style="top: 80px;">criteria time <span style="margin-left: 20px;">{{con.curr_date_time}}</span>
        </div>

        <img src="../assets/images/sector2_image/ess.png"
             class="consumer-img"/>


        <!--빌딩 게이지 가동률로 변경-->
        <!--<div class="factory-bg" ng-style="{height: (con.dem_watt/con.dem_cbl)*208}"></div>-->
        <div class="factory-bg" ng-style="{height: (con.socAvg / 100)*208}"></div>
        <!--height: con.operateRatio*335/100-->

        <div class="absolute" style="top:167px;">
          <!--<div class="pt14">100%</div>-->
          <!--<div class="pt24 ff7e47">{{con.dem_cbl-con.dem_watt|number:0}}<span class="pt16">kW</span></div>-->
        </div>
        <!--<div class="absolute" style="top:292px;">-->
          <!--<div class="pt14">current <br/>discharge</div>-->
          <!--<div class="pt20 fffbcc">{{con.generator | number:1}}<span class="pt16"> kW</span></div>-->
        <!--</div>-->
        <!--<div class="absolute" style="top:430px;">-->
          <!--<div class="pt14">0%</div>-->
          <!--&lt;!&ndash;<div class="pt20">{{con.maxTarget|number:0}}<span class="pt16">kW</span></div>&ndash;&gt;-->
        <!--</div>-->

        <!--<div class="absolute" style="top:235px;left: 273px;z-index: 40;">-->
          <!--<span class="pt14">current charge &lt;!&ndash;amount&ndash;&gt;</span>-->
          <!--<br>-->
          <!--<span class="pt20">{{con.meter_acc | number:1}}<span class="pt16"> kWh</span></span>-->
        <!--</div>-->
        <!--<img src="../assets/images/sector2_image/factory_line.png"-->
             <!--style="position: absolute;top: 284px;left: 50px;z-index: 40;"/>-->

        <!--<div class="absolute" style="top:390px;left: 273px;z-index: 40;">-->
          <!--<span class="pt14">discharge limit&lt;!&ndash; amount&ndash;&gt;</span>-->
          <!--<br>-->
          <!--<span class="pt20">{{con.generator_limit | number:1}}<span class="pt16"> kWh</span></span>-->
        <!--</div>-->
        <!--line:: 바닥부터 cbl라인까지 높이 208px-->
        <!--<img src="../assets/images/sector2_image/factory_line2.png"-->
             <!--style="position: absolute;left: 50px;z-index: 40;"-->
             <!--ng-style="{top: con.line2}"-->
        <!--/>&lt;!&ndash;origin top: 442px&ndash;&gt;-->

        <div class="absolute"
             style="width: 200px;height: 320px;top:167px;left: 410px;border-left: 1px solid #3e5457;padding-left: 10px;">
          <div class="absolute" style="width: 177px;">
            <div class="pt14">ESS Capacity(DR)</div>
            <div class="pt50 ff7e47" style="text-align: center;"
              ng-style="{'font-size' : '40px'}">{{con.pcs * con.socAvg / 100 | number:1}} kW</div>
            <!--<div class="pt8 c-7ca6a6">develop(discharge), reduction(charge)</div>-->
          </div>
          <div class="absolute" style="top:156px;line-height: 31px;">
            <div class="pt16 c-66ffff">SOC</div>
            <div class="pt16">Battery Volume</div>
            <div class="pt16 c-66ffff">Charge</div>
            <div class="pt16">DR</div>
            <div class="pt16 c-66ffff">PCS</div>
          </div>
          <div class="absolute" style="width:100px; top:156px;left: 136px;line-height: 31px;">
            <div class="pt16 c-66ffff">{{con.socAvg | number:1}} %</div>
            <div class="pt16">{{con.totalBatteryVolume | number:1}} kWh</div>
            <div class="pt16 c-66ffff">{{con.totalBatteryCharge | number:1}} kWh</div>
            <div class="pt16">{{con.dr | number:1}} kW</div>
            <div class="pt16 c-66ffff">{{con.pcs | number:1}} kW</div>
          </div>
        </div>

      </div>
    </section>


  </div>
</div>

<div class="sector2-map-go" ui-sref="state2-map"></div>

<!--consumer minus line-->
<!--<div class="absolute" style="width: 0;height: 328px;top: 1011px;left: 975px;border: 1px solid #ff0000;z-index: 40;"></div>-->


<!--<state2-nav2-ess></state2-nav2-ess>-->
<state2-nav-ess></state2-nav-ess>
<div ng-include="'app/components/state2-nav/state2-nav2-ess.html'"></div>
