<!--<div class="sector2-img"></div>-->

<div id="mapselect" style="position: absolute;width: 2712px;height: 2160px;left: 742px;">

  <div style="position: absolute;width: 2712px;height: 2160px;z-index: 30;">
    <!--<div class="zoomTarget-seoul" ng-click="state2.zoomMap('seoul')">서울시</div>
    <div class="zoomTarget-incheon" ng-click="state2.zoomMap('incheon')">인천시</div>
    <div class="zoomTarget-bucheon" ng-click="state2.zoomMap('bucheon')">부천시</div>
    <div class="zoomTarget-ansan" ng-click="state2.zoomMap('ansan')">안산시</div>-->

    <div class="map-pindrop">
      <img src="../assets/images/pindrop.svg" style="left: 830px;top: 728px;"/>
      <span style="left: 820px;top: 710px;">메드우드 나파밸</span>
    </div>

    <!--<div class="map-pindrop">
      <img src="../assets/images/pindrop.svg" style="left: 830px;top: 728px;"/>
      <span style="left: 820px;top: 710px;">메드우드 나파밸</span>
      <img src="../assets/images/pindrop.svg" style="left: 917px;top: 818px;"/>
      &lt;!&ndash;<span style="left: 917px;top: 818px;">팰리스</span>&ndash;&gt;
      <img src="../assets/images/pindrop.svg" style="left: 978px;top: 795px;"/>
      <span style="left: 978px;top: 858px;">더 포 시즌스</span>
      <img src="../assets/images/pindrop.svg" style="left: 900px;top: 890px;"/>
      <span style="left: 959px;top: 910px;">더 리츠 칼튼 하프문 베이</span>
      <img src="../assets/images/pindrop.svg" style="left: 980px;top: 900px;"/>
      <span style="left: 980px;top: 962px;">더 페어몬트 샌 로즈</span>
      <img src="../assets/images/pindrop.svg" style="left: 980px;top: 1014px;"/>
      <span style="left: 980px;top: 1066px;">포스트 랜치 </span>
      <img src="../assets/images/pindrop.svg" style="left: 1152px;top: 1265px;"/>
      <span style="left: 1132px;top: 1249px;">바카라 리조트 앤드 스파</span>
      <img src="../assets/images/pindrop.svg" style="left: 1207px;top: 1285px;"/>
      <span style="left: 1207px;top: 1285px;">포시즌 리조트 더 빌트모어 산타바바라</span>
      <img src="../assets/images/pindrop.svg" style="left: 1250px;top: 1313px;"/>
      <span style="left: 1300px;top: 1330px;">Belmond El Encanto</span>
      <img src="../assets/images/pindrop.svg" style="left: 1324px;top: 1352px;"/>
      <span style="left: 1300px;top: 1350px;">SLS 앳 럭셔리 컬렉션</span>
      <img src="../assets/images/pindrop.svg" style="left: 1370px;top: 1346px;"/>
      &lt;!&ndash;<span style="left: 1300px;top: 1350px;">포시즌 로스앤젤레스 앳 비버리힐즈</span>&ndash;&gt;
      <img src="../assets/images/pindrop.svg" style="left: 1400px;top: 1352px;"/>
      <span style="left: 1437px;top: 1378px;">더 램험 헌팅턴</span>
      <img src="../assets/images/pindrop.svg" style="left: 1436px;top: 1424px;"/>
      <span style="left: 1436px;top: 1450px;">JW 메리어트 데저트 스프링스 리조트</span>
      <img src="../assets/images/pindrop.svg" style="left: 1510px;top: 1502px;"/>
      <span style="left: 1510px;top: 1502px;">Four Seasons Residence <br/>Club Aviara</span>
      <img src="../assets/images/pindrop.svg" style="left: 1570px;top: 1660px;"/>
      <span style="left: 1570px;top: 1660px;">Mariott Marquis</span>
    </div>-->

    <img src="../assets/images/sector2_image/map_bg.png" style="position: absolute;"/>
    <img src="../assets/images/sector2_image/map_grid.png"
         style="position: absolute;left: 56px;top: 68px;z-index: 20;"/>


    <img src="../assets/images/california1-2.png" class="state2-map-svg" style="z-index: 0;"/>


    <!--title-->
    <div class="absolute pt42 bfffff" style="left: 212px;top: 80px;width: 260px;">
      NVPP <span class="c-7ca6a6" style="font-weight: 200;">VISION</span>
    </div>
    <div class="absolute pt42 bfffff" style="left: 1664px;top: 80px;width: 260px;">MAP ID</div>


    <img src="../assets/images/sector2_image/map_graph.png" style="position: absolute;left: 138px;bottom: 93px;"/>
    <div id="resource-map" class="state2-graph" style="bottom: 80px;left: 138px;"></div>

  </div>
</div>
<!--END zoomViewport-->

<div class="sector2-graph-go" ui-sref="state2-1"></div>

<state2-nav></state2-nav>
<state2-nav2></state2-nav2>
