<!--<div class="sector2-img"></div>-->

<div id="mapselect" style="position: absolute;width: 2712px;height: 2160px;left: 742px;">

  <div style="position: absolute;width: 2712px;height: 2160px;z-index: 30;">
    <!--<div class="zoomTarget-seoul" ng-click="state2.zoomMap('seoul')">서울시</div>
    <div class="zoomTarget-incheon" ng-click="state2.zoomMap('incheon')">인천시</div>
    <div class="zoomTarget-bucheon" ng-click="state2.zoomMap('bucheon')">부천시</div>
    <div class="zoomTarget-ansan" ng-click="state2.zoomMap('ansan')">안산시</div>-->

    <!-- CCC campus pic
    <div class="map-ccc">
      <img src="../assets/images/ccc/hasley.png" style="left: 120px;top: 648px;"/>
      <span style="left: 120px;top: 648px;">Hasley Hall</span>
      <img src="../assets/images/ccc/bonelli.png" style="left: 120px;top: 876px;"/>
      <span style="left: 120px;top: 876px;">Bonelli Hall</span>
      <img src="../assets/images/ccc/aliso.png" style="left: 120px;top: 1104px;"/>
      <span style="left: 120px;top: 1104px;">Aliso Hall</span>
      <img src="../assets/images/ccc/towsley.png" style="left: 120px;top: 1332px;"/>
      <span style="left: 120px;top: 1332px;">Towsley Hall</span>
      <img src="../assets/images/ccc/mentry.png" style="left: 120px;top: 1560px;"/>
      <span style="left: 120px;top: 1560px;">Mentry Hall</span>
      <img src="../assets/images/ccc/boykin.png" style="left: 460px;top: 648px;"/>
      <span style="left: 460px;top: 648px;">Boykin Hall</span>
      <img src="../assets/images/ccc/library.png" style="left: 460px;top: 876px;"/>
      <span style="left: 460px;top: 876px;">Library</span>
      <img src="../assets/images/ccc/seco.png" style="left: 460px;top: 1104px;"/>
      <span style="left: 460px;top: 1104px;">Seco Hall</span>
      <img src="../assets/images/ccc/student.png" style="left: 460px;top: 1332px;"/>
      <span style="left: 460px;top: 1332px;">Student Center</span>
      <img src="../assets/images/ccc/pico.png" style="left: 460px;top: 1560px;"/>
      <span style="left: 460px;top: 1560px;">Pico Canyon Hall</span>
    </div>-->


    <div class="map-pindrop">
      <!--SOLAR-->
      <img src="../assets/images/pindrop2.svg" style="left: 1180px;top: 1180px;"/>
      <span style="left: 1170px;top: 1210px;">Lost Hills</span>
      <img src="../assets/images/pindrop2.svg" style="left: 780px;top: 620px;z-index: 40;"/>
      <span style="left: 770px;top: 640px;z-index: 40;">Cloverdale</span>
      <img src="../assets/images/pindrop2.svg" style="left: 848px;top: 722px;z-index: 40;"/>
      <span style="left: 848px;top: 742px;z-index: 40;">Novato</span>
      <img src="../assets/images/pindrop2.svg" style="left: 830px;top: 680px;z-index: 40;"/>
      <span style="left: 830px;top: 700px;z-index: 40;">Santa Rosa</span>

      <!--DR-->
      <img src="../assets/images/pindrop1.svg" style="left: 1310px;top: 1260px;"/>
      <span style="left: 1280px;top: 1253px;">College of Canyon</span>

      <img src="../assets/images/pindrop1.svg" style="left: 1110px;top: 700px;"/>
      <span style="left: 1110px;top: 700px;">BLUE MOUNTAIN MINERALS</span>
      <img src="../assets/images/pindrop1.svg" style="left: 1130px;top: 720px;"/>
      <span style="left: 1130px;top: 720px;">BLUE MOUNTAIN MINERALS PR, LLC</span>
      <img src="../assets/images/pindrop1.svg" style="left: 1110px;top: 950px;"/>
      <span style="left: 1110px;top: 990px;">Toma Tek</span>

      <!--ESS-->
      <img src="../assets/images/pindrop.svg" style="left: 830px;top: 728px;"/>
      <!--<span style="left: 820px;top: 713px;">메드우드 나파밸</span>-->
      <img src="../assets/images/pindrop.svg" style="left: 1405px;top: 1405px;"/>
      <!--<span style="left: 1390px;top: 1390px;">Best Label(BIG)</span>-->
      <img src="../assets/images/pindrop.svg" style="left: 1418px;top: 1415px;"/>
      <!--<span style="left: 1400px;top: 1400px;">Best Label(SMASLL)</span>-->
      <img src="../assets/images/pindrop.svg" style="left: 1465px;top: 1410px;"/>
      <!--<span style="left: 1485px;top: 1395px;">QPE</span>-->
      <img src="../assets/images/pindrop.svg" style="left: 1470px;top: 1458px;"/>
      <!--<span style="left: 1445px;top: 1443px;">South Bay(UPPER)</span>-->
      <img src="../assets/images/pindrop.svg" style="left: 1455px;top: 1455px;"/>
      <!--<span style="left: 1430px;top: 1440px;">South Bay(LOWER)</span>-->
      <img src="../assets/images/pindrop.svg" style="left: 1490px;top: 1440px;"/>
      <!--<span style="left: 1428px;top: 1425px;">Toshiba(America Electronic)</span>-->
      <img src="../assets/images/pindrop.svg" style="left: 1503px;top: 1475px;"/>
      <!--<span style="left: 1415px;top: 1460px;">Toshiba(Toshiba America Medical Systems)</span>-->
      <img src="../assets/images/pindrop.svg" style="left: 1515px;top: 1500px;"/>
      <!--<span style="left: 1530px;top: 1485px;">Boral</span>-->
      <img src="../assets/images/pindrop.svg" style="left: 1445px;top: 1370px;"/>
      <!--<span style="left: 1450px;top: 1355px;">Telamon</span>-->
    </div>


    <img src="../assets/images/sector2_image/map_bg.png" style="position: absolute;"/>
    <img src="../assets/images/sector2_image/map_grid.png"
         style="position: absolute;left: 56px;top: 68px;z-index: 20;"/>


    <img src="../assets/images/california1-2.png" class="state2-map-svg" style="z-index: 0;"/>


    <!--title-->
    <div class="absolute pt42 bfffff" style="left: 212px;top: 80px;width: 260px;">
      NVPP <span class="c-7ca6a6" style="font-weight: 200;">VISION</span>
    </div>
    <div class="absolute pt42 bfffff" style="left: 1664px;top: 80px;width: 260px;">MAP ID</div>


    <img src="../assets/images/sector2_image/map_graph.png" style="position: absolute;left: 138px;bottom: 93px;"/>
    <div id="resource-map" class="state2-graph" style="bottom: 80px;left: 138px;"></div>

  </div>
</div>
<!--END zoomViewport-->
<div class="sector2-other-map-go" ui-sref="state2-map"></div>
<div class="sector2-graph-go" ui-sref="state2-2"></div>

<state2-nav></state2-nav>
<state2-nav2></state2-nav2>
