<div class="sector2-1-img"></div>


<img src="../assets/images/sector2_image/companywe_sector2_img2.png"
     style="position: absolute;left: 742px;z-index: 30;"/>

<!--current="main.currentCompanyResources.dem_negawatt"-->
<round-progress
  max="100"
  current="state2_1.gageCurrentDevelop"
  color="#80ffff"
  bgcolor="#edfbff"
  radius="210"
  stroke="50"
  rounded="true"
  clockwise="true"
  responsive="false"
  duration="800"
  animation="easeInOutQuart"
  animation-delay="0"
  style="top: 735px;left: 1316px;width: 470px;height: 470px;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);"></round-progress>

<div class="absolute" style="z-index: 40;">
  <!--title-->
  <div class="absolute pt42 bfffff" style="left: 954px;top: 80px;width: 260px;">
    NVPP <span class="c-7ca6a6" style="font-weight: 200;">VISION</span>
  </div>

  <div class="absolute pt42 bfffff" style="left: 2040px;top: 80px;width: 260px;">ROOT</div>
  <div class="absolute pt42 bfffff resource-dropdown" style="left: 2317px;top: 80px;width: 416px;">
    <span uib-dropdown on-toggle="toggled(open)">
      <a href id="simple-dropdown" uib-dropdown-toggle style="color: #bfffff;">
        국민발전소
      </a>
      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
        <li ng-repeat="resource in state2_1.companiesResources">
          <a href>{{resource.res_name}}</a>
        </li>
      </ul>
    </span>
  </div>

  <div class="drType-btn" value="all" ng-click="state2_1.clickDR('all')" ng-class="state2_1.drType == 'all' ? 'dr-btn state2-btn-dr-on' : 'dr-btn state2-btn-dr'" style="left: 2994px;top: 55px;">전체</div>
  <div class="drType-btn" value="1" ng-click="state2_1.clickDR(1)" ng-class="state2_1.drType == 1 ? 'dr-btn state2-btn-dr-on' : 'dr-btn state2-btn-dr'" style="left: 3138px;top: 55px;">DR1</div>
  <div class="drType-btn" value="2" ng-click="state2_1.clickDR(2)" ng-class="state2_1.drType == 2 ? 'dr-btn state2-btn-dr-on' : 'dr-btn state2-btn-dr'" style="left: 3280px;top: 55px;">DR2</div>
  <div class="drType-btn" value="3" onclick="javascript:alert('준비중입니다');" ng-class="state2_1.drType == 3 ? 'dr-btn state2-btn-dr-on' : 'dr-btn state2-btn-dr'" style="left: 2994px;top: 103px;">DR3</div>
  <div class="drType-btn" value="4" onclick="javascript:alert('준비중입니다');" ng-class="state2_1.drType == 4 ? 'dr-btn state2-btn-dr-on' : 'dr-btn state2-btn-dr'" style="left: 3138px;top: 103px;">DR4</div>
  <div class="drType-btn" value="0" ng-click="state2_1.clickDR(0)" ng-class="state2_1.drType == 0 ? 'dr-btn state2-btn-dr-on' : 'dr-btn state2-btn-dr'" style="left: 3280px;top: 103px;">DR etc.</div>

  <!--section-->
  <div class="sector2-map">
    <div class="absolute" style="left: 288px;top: 453px;width: 148px;text-align: center;">
      <span class="pt20 bfffff">발전중 (수요감축)</span><br/>
      <span
        class="pt60 fffef2">{{state2_1.currentCompanyResources.dem_cbl-state2_1.currentCompanyResources.dem_watt|number:0}}</span>
      <span class="pt24 fffef2">kW</span><br/>
      <span class="pt20 c-7ca6a6">for 수요자원</span>
    </div>

    <div class="absolute" style="left: 369px;top: 703px;width: 132px;">
      <span class="pt16 c-80ffff" style="margin-bottom: 6px;display: inline-block;">POWER OUTPUT</span><br/>
      <span class="watt-off">Megawatt Mode</span><br/>
      <span class="watt-on">Negawatt Mode</span>
    </div>

    <img src="../assets/images/sector2_image/high_line.png" style="position: absolute;left: 454px;top: 522px;" ng-show="state2_1.gageCurrentDevelop == 270" />
    <img src="../assets/images/sector2_image/highcost.png"  style="position: absolute;left: 508px;top: 522px;"  ng-show="state2_1.gageCurrentDevelop == 270" />

    <div class="absolute" style="left: 618px;top: 684px;width: 200px;">
      <span class="pt20 bfffff">MAX(최대감축가능량)</span><br/>
      <span class="pt60 fffef2">{{state2_1.maxAvailNegaWatt}}</span><span class="pt24 fffef2">kW</span>
    </div>

    <!--수용가 list repeat-->
    <div class="absolute pt42 bfffff" style="left: 52px;top: 910px;width: 320px; font-size:34px;">수용가별 전력 사용률</div>
    <div class="absolute" style="left: 52px;top: 1015px;width: 500px;height: 1037px;overflow-y: hidden;">
      <!--todo:: call value, current temp value-->
      <div class="absolute pt24 c-7ca6a6" style="width: 170px;line-height: 55px;">
        <!-- Tim. 로딩중 이미지 추가 -->
        <img src="../assets/images/loading_img.gif" ng-show="!state2_1.resourcesConsumers || state2_1.resourcesConsumers.length == 0" style="width:150px; height:150px; position: absolute;top: 130px;left: 175px;"/>
        <ul ng-repeat="con in state2_1.resourcesConsumers|limitTo:6:state2_1.consumerBeginNumber">
          <!-- 자원선택이 전체(drType == 'all')일때 동 상세보기 하면 너무 꼬임.. 일단 전체에서는 수용가 클릭 금지 -->
          <li class="cons-btn consumer-off" ng-value="con.cons_idx" ng-click=" (state2_1.drType != 'all') && state2_1.clickConsumer(con.cons_idx)">{{con.cons_name}}
          </li>
        </ul>
      </div>
      <div class="absolute pt24 c-7ca6a6" style="left: 173px;top: 7px;width: 320px;height: 30px;line-height: 55px;">
        <div ng-repeat="con in state2_1.resourcesConsumers|limitTo:6:state2_1.consumerBeginNumber" style="">

          <!-- 붉은 막대 -->
          <div
            style="float: left;background-color: #ff0000;height: 40px;margin-bottom: 40px;width: 10px;border-right: 1px solid #ff0000;"
            ng-show="con.dem_cbl - con.dem_watt < 0"></div>

          <!-- 붉은 선 -->
          <div
            style="float: left;background-color: #2e3c40;height: 40px;margin-bottom: 40px;width: 10px;border-right: 1px solid #ff0000;"
            ng-show="con.dem_cbl - con.dem_watt >= 0"></div>

          <div style="float: left;background-color: #bfffff;height: 40px;margin-bottom: 40px;max-width: 310px;"
               ng-style="{width:con.dem_watt*310/con.dem_cbl}"></div>
          <div style="margin-left:10px;background-color: #2e3c40;height: 40px;margin-bottom: 40px;width: 310px;"></div>
        </div>
      </div>
    </div>

    <div id="resource-graph" class="state2-graph" style="top: 320px;left: 987px;"></div>

    <section style="width: 2090px;height: 1225px;position: absolute;top: 903px;left: 600px;overflow: hidden;">
      <!-- Tim. 로딩중 이미지 추가 -->
      <img src="../assets/images/loading_img.gif" ng-show="!state2_1.consumersBuildings || state2_1.consumersBuildings.length == 0" style="width:300px; height:300px; position: absolute;top: 322.5px;left: 895px;"/>
      <!--each-->
      <div class="bfffff graph-section-each"
           ng-repeat="con in state2_1.consumersBuildings|limitTo:6:state2_1.buildingsBeginNumber">
        <div class="pt28" style="border-bottom: 1px solid #bfffff;padding-bottom: 4px;">{{con.st_name || con.cons_name}}</div>
        <div class="absolute pt24" style="top: 80px;">기준시간 <span style="margin-left: 20px;">{{con.dateTime}}</span>
        </div>

        <img src="../assets/images/sector2_image/plant_img.png" ng-show="con.cons_division == 'F'"
             class="consumer-img"/>
        <img src="../assets/images/sector2_image/building_img.png" ng-show="con.cons_division == 'B' || con.cons_division == undefined"
             class="consumer-img"/>

        <!--빌딩 게이지 사용률로 변경-->
        <div class="factory-bg" ng-style="{height: (con.dem_watt/con.dem_cbl)*208}"></div>
        <!--height: con.operateRatio*335/100-->

        <div class="absolute" style="top:167px;">
          <div class="pt14">감축부하</div>
          <div class="pt24 ff7e47">{{con.dem_cbl-con.dem_watt|number:0}}<span class="pt16">kW</span></div>
        </div>
        <div class="absolute" style="top:292px;">
          <div class="pt14">현재부하</div>
          <div class="pt20 fffbcc">{{con.dem_watt}}<span class="pt16">kW</span></div>
        </div>
        <!--<div class="absolute" style="top:430px;">-->
          <!--<div class="pt14">MAX</div>-->
          <!--<div class="pt20">{{con.maxTarget|number:0}}<span class="pt16">kW</span></div>-->
        <!--</div>-->

        <div class="absolute" style="top:253px;left: 273px;z-index: 40;">
          <span class="pt14">CBL</span>
          <span class="pt20">{{con.dem_cbl}}<span class="pt16">kW</span></span>
        </div>
        <img src="../assets/images/sector2_image/factory_line.png"
             style="position: absolute;top: 284px;left: 50px;z-index: 40;"/>

        <!--<div class="absolute" style="top:411px;left: 265px;z-index: 40;">-->
          <!--<span class="pt14">TARGET</span>-->
          <!--<span class="pt20">{{con.dem_cbl-con.cont_watt|number:0}}<span class="pt16">kW</span></span>-->
        <!--</div>-->
        <!--line:: 바닥부터 cbl라인까지 높이 208px-->
        <!--<img src="../assets/images/sector2_image/factory_line2.png"-->
             <!--style="position: absolute;left: 50px;z-index: 40;"-->
             <!--ng-style="{top: con.line2}"-->
        <!--/>&lt;!&ndash;origin top: 442px&ndash;&gt;-->

        <div class="absolute"
             style="width: 200px;height: 320px;top:167px;left: 410px;border-left: 1px solid #3e5457;padding-left: 10px;">
          <div class="absolute" style="width: 177px;">
            <div class="pt14">사용량</div>
            <div class="pt60 ff7e47" style="text-align: center;">{{con.dem_rate|number:0}} %</div>
            <div class="pt8 c-7ca6a6">사용량 =</div>
            <div class="pt8 c-7ca6a6">현재부하 / CBL</div>
          </div>
          <div class="absolute" style="top:156px;line-height: 31px;">
            <div class="pt16 c-66ffff">현재부하</div>
            <div class="pt16">CBL</div>
            <div class="pt16 c-66ffff">감축부하</div>
            <div class="pt16">TARGET</div>
            <div class="pt16 c-66ffff">MAX TARGET</div>
          </div>
          <div class="absolute" style="top:156px;left: 127px;line-height: 31px;">
            <div class="pt16 c-66ffff">{{con.dem_watt}}kW</div>
            <div class="pt16">{{con.dem_cbl}}kW</div>
            <div class="pt16 c-66ffff">{{con.dem_cbl-con.dem_watt|number:0}}kW</div>
            <div class="pt16" style="color:#7ca6a6;">0 kW</div>
            <div class="pt16 c-66ffff"  style="color:#7ca6a6;">0 kW</div>
          </div>
        </div>

      </div>
    </section>


  </div>
</div>

<div class="sector2-map-go" ui-sref="state2"></div>

<!--consumer minus line-->
<!--<div class="absolute" style="width: 0;height: 328px;top: 1011px;left: 975px;border: 1px solid #ff0000;z-index: 40;"></div>-->

<state2-nav></state2-nav>
<!--<state2-nav2></state2-nav2>-->
<div ng-include="'app/components/state2-nav/state2-nav2.html'"></div>
