.sector2-img {
  background: url("/../assets/images/companywe_sector2.png");
  width: 3840px;
  height: 2160px;
  position: absolute;
  z-index: 30;
  opacity: 0.2;
  display: none;
}
.sector2-graph-go {
  position: absolute;
  right: 40px;
  top: 860px;
  width: 300px;
  height: 265px;
  z-index: 40;
  cursor: pointer;
}

.sector2-1-img {
  background: url("/../assets/images/companywe_sector2-1.png");
  width: 3840px;
  height: 2160px;
  position: absolute;
  z-index: 31;
  opacity: 0.2;
  display: none;
}

.sector2-map {
  position: absolute;
  left: 742px;
}
.state2-btn-dr {
  font-size: 24px;
  color: #bfffff;
  background-color: #2e3c40;
  width: 130px;
  height: 40px;
  border-radius: 6px;
  text-align: center;
  position: absolute;
  line-height: 40px;
}
.watt-on {
  position: absolute;
  font-size: 14px;
  color: #80ffff;
  background: url("/../assets/images/sector2_image/watt_on.png") no-repeat;
  text-indent: 20px;
}
.watt-off {
  position: absolute;
  font-size: 14px;
  color: #2e3c50;
  background: url("/../assets/images/sector2_image/watt_off.png") no-repeat;
  text-indent: 20px;
}


.state2-graph {
  position: absolute !important;
  z-index: 40;
}
.state2-graph-tooltip {
  position: absolute;
  z-index: 40;
  width: 100px;
  height: 30px;
  color: #80ffff;
  background-color: #597c80;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}
.c3-line {
  stroke-width: 2px !important;
}
.round-progress-wrapper {
  position: absolute !important;
  /*z-index: 40;*/
}

.sector2-map-go {
  position: absolute;
  right: 40px;
  top: 548px;
  width: 300px;
  height: 223px;
  z-index: 40;
  cursor: pointer;
}

.graph-section-each {
  width: 597px;
  height: 611px;
  left: 46px;
  top: 12px;
  margin-right: 90px;
  float: left;
  position: relative;
  /*background-color: #0d0d0d;*/
}
.consumer-img {
  position: absolute;top: 163px;left: 66px;z-index: 40;width: 199px;height: 335px;
}
.factory-bg {
  position: absolute;
  background-color: #80ffff;
  width: 197px;
  z-index: 20;
  left: 67px;
  bottom: 118px;
}

.c3-tooltip td {
  color: #000;
}

.resource-dropdown .dropdown-menu{
  width: 400px;
  font-size: 38px;
  border-radius: 0 !important;
  background-color: #ddd;
  opacity: 0.8;
}


.map-pindrop {
  position: absolute;
  width: 2600px;
  left: 798px;
  top: 68px;
  /*z-index: 20;*/
}
.map-pindrop img {
  width: 70px;
  height: 70px;
  position: absolute;
  z-index: 30;
}
