

* {
  padding: 0;
  margin: 0;
  line-height: inherit;
  text-decoration: none;
  border: 0 none;
  font-style: normal;
  font-weight: inherit;
  color: inherit;
  list-style-type: none;
}

body {
  font-family: "Spoqa Han Sans";
  margin: 0 auto;
  width: 3840px;
  height: 2160px;
  color: #fffef2;
}

div, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, a, button, select {
  margin: 0;
  padding: 0;
}


.absolute {
  position: absolute;
}
.floatLeft {
  float: left;
}


.bfffff {
  color: #bfffff;
}
.fffef2 {
  color: #fffef2;
}
.ff7e47 {
  color: #ff7e47;
}
.fffbcc {
  color: #fffbcc;
}
.d9ffff {
  color: #d9ffff;
}
.c-86bfbf {
  color: #86bfbf;
}
.c-7ca6a6 {
  color: #7ca6a6;
}
.c-80ffff {
  color: #80ffff;
}
.c-66ffff {
  color: #66ffff;
}

.pt8 {
  font-size: 8px;
}
.pt10 {
  font-size: 10px;
}
.pt12 {
  font-size: 12px;
}
.pt14 {
  font-size: 14px;
}
.pt16 {
  font-size: 16px;
}
.pt18 {
  font-size: 18px;
}
.pt20 {
  font-size: 20px;
}
.pt24 {
  font-size: 24px;
}
.pt26 {
  font-size: 26px;
}
.pt28 {
  font-size: 28px;
}
.pt31 {
  font-size: 31px;
}
.pt36 {
  font-size: 36px;
}
.pt38 {
  font-size: 38px;
}
.pt40 {
  font-size: 40px;
}
.pt42 {
  font-size: 42px;
}
.pt44 {
  font-size: 44px;
}
.pt50 {
  font-size: 50px;
}
.pt55 {
  font-size: 55px;
}
.pt62 {
  font-size: 62px;
}
.pt60 {
  font-size: 60px;
}
.pt70 {
  font-size: 70px;
}
.pt75 {
  font-size: 75px;
}
.pt86 {
  font-size: 86px;
}
.pt100 {
  font-size: 100px;
}

.fontweight300 {
  font-weight: 300;
}
