.st0{clip-path:url(#SVGID_2_);}
.st1{fill:#80FFFF;stroke:#BFFFFF;stroke-width:3.5;}
.st2{fill:#86BFBF;stroke:#BFFFFF;stroke-width:3.5;}
.st3{fill:#2E3C40;stroke:#BFFFFF;stroke-width:3.5;}
.st4{opacity:0.98;fill:#2E3C40;stroke:#BFFFFF;stroke-width:3.5;enable-background:new;}
.st5{display:none;}
.st6{display:inline;fill:none;stroke:#1C2426;stroke-linecap:round;stroke-linejoin:round;}
.st7{display:inline;fill:#1C2426;stroke:#1C2426;stroke-linecap:round;stroke-linejoin:round;}

/*#80FFFF*/
.g-seoul {fill:#80FFFF;stroke:#BFFFFF;stroke-width:3.5;}
.g-incheon {fill: #80FFFF;stroke:#BFFFFF;stroke-width:3.5;}
.g-seoungnam {fill: #80FFFF;stroke:#BFFFFF;stroke-width:3.5;}
.g-ansan {fill: #80FFFF;stroke:#BFFFFF;stroke-width:3.5;}
.g-bucheon {fill: #80FFFF;stroke:#BFFFFF;stroke-width:3.5;}

.state2-map-svg {
  position: absolute;
  left: 56px; /*798*/
  top: 68px;
  width: 2600px;
  height: 1800px;
}
.zoomTarget-seoul {
  position: absolute;
  z-index: 30;
  width: 600px;
  height: 500px;
  left: 1200px;
  top: 750px;

  line-height: 500px;
  text-align: center;
  align-items: center;
  font-size: 30px;
  color: black;
}
.zoomTarget-incheon {
  position: absolute;
  z-index: 30;
  width: 220px;
  height: 400px;
  left: 1020px;
  top: 850px;

  line-height: 400px;
  text-align: center;
  align-items: center;
  font-size: 30px;
  color: black;
}
.zoomTarget-ansan {
  position: absolute;
  z-index: 30;
  width: 300px;
  height: 200px;
  left: 1180px;
  top: 1220px;

  line-height: 200px;
  text-align: center;
  align-items: center;
  font-size: 30px;
  color: black;
}
.zoomTarget-bucheon {
  position: absolute;
  z-index: 30;
  width: 120px;
  height: 140px;
  left: 1200px;
  top: 980px;

  line-height: 140px;
  text-align: center;
  align-items: center;
  font-size: 30px;
  color: black;
}


.zoomMap {width: 2712px;height: 2160px;position: absolute;z-index: 40;}
.zoomMap img {width: 2712px;height: 2160px;}
