.st0{clip-path:url(#SVGID_2_);}
.st1{fill:#80FFFF;stroke:#BFFFFF;stroke-width:3.5;}
.st2{fill:#86BFBF;stroke:#BFFFFF;stroke-width:3.5;}
.st3{fill:#2E3C40;stroke:#BFFFFF;stroke-width:3.5;}
.st4{opacity:0.98;fill:#2E3C40;stroke:#BFFFFF;stroke-width:3.5;enable-background:new;}
.st5{display:none;}
.st6{display:inline;fill:none;stroke:#1C2426;stroke-linecap:round;stroke-linejoin:round;}
.st7{display:inline;fill:#1C2426;stroke:#1C2426;stroke-linecap:round;stroke-linejoin:round;}

/*#80FFFF*/
.g-seoul {fill:#80FFFF;stroke:#BFFFFF;stroke-width:3.5;}
.g-incheon {fill: #80FFFF;stroke:#BFFFFF;stroke-width:3.5;}
.g-seoungnam {fill: #80FFFF;stroke:#BFFFFF;stroke-width:3.5;}
.g-ansan {fill: #80FFFF;stroke:#BFFFFF;stroke-width:3.5;}

.state2-map-svg {
  position: absolute;
  left: 56px; /*798*/
  top: 68px;
  width: 2600px;
  height: 1800px;
}
.zoomTarget-seoul {
  position: absolute;
  z-index: 30;
  width: 600px;
  height: 500px;
  left: 1200px;
  top: 750px;
}
.zoomTarget-incheon {
  position: absolute;
  z-index: 30;
  width: 600px;
  height: 600px;
  left: 660px;
  top: 650px;
}
.zoomTarget-seoungnam {
  position: absolute;
  z-index: 30;
  width: 250px;
  height: 300px;
  left: 1500px;
  top: 1050px;
}
.zoomTarget-ansan {
  position: absolute;
  z-index: 30;
  width: 300px;
  height: 200px;
  left: 1180px;
  top: 1220px;
}
