.sector3-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("/assets/images/companywe_sector3.png");
  opacity: 0.5;
  width: 3840px;
  height: 2160px;
  z-index: 40;
  display: none;
}

.sector3 {
  position: absolute;
  z-index: 30;
  width: 3840px;
  height: 2160px;
  background-color: #0d0d0d;
}
.grid1-bt-on {
  background: url("/assets/images/sector3/grid1_bt_on.png");
  font-size: 24px;
  color: #bfffff;
  text-align: center;
  width: 254px;
  height: 62px;
  line-height: 62px;
}
.grid1-bt-off {
  background: url("/assets/images/sector3/grid1_bt_off.png");
  font-size: 24px;
  color: #bfffff;
  text-align: center;
  width: 254px;
  height: 62px;
  line-height: 62px;
}
.grid1_box_on {
  background: url("/assets/images/sector3/grid1_box_on.png");
  color: #bfffff;
  text-align: center;
  width: 210px;
  height: 170px;
}
.grid1_box_off {
  background: url("/assets/images/sector3/grid1_box_off.png");
  color: #597c80;
  text-align: center;
  width: 210px;
  height: 170px;
}

.grid1-bargraph-m {
  left: 110px;top: 1693px;z-index: 30;
}
.grid1-bargraph-m span {
  margin-right: 180px;
}


.grid2_frame {
  background: url("/assets/images/sector3/grid2_frame.png");
  width: 596px;
  height: 664px;
}
.grid2_box_on {
  background: url("/assets/images/sector3/grid2_box_on.png");
  color: #bfffff;
  text-align: center;
  width: 205px;
  height: 170px;
}
.grid2_box_off {
  background: url("/assets/images/sector3/grid2_box_off.png");
  color: #597c80;
  text-align: center;
  width: 205px;
  height: 170px;
}
.sector3-graph {
  position: absolute;
  left: 97px;top: 1492px;
}
.sector3-graph div {
  float: left;
  margin-right: 64px;
}
